In [17]:
import pandas as pd

In [35]:
data = pd.read_csv('HIST_PAINEL_COVIDBR_2020_Parte1_04nov2022.csv', sep = ';')

In [3]:
data.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,0.0,0.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,1.0,0.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,1.0,0.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,0.0,1.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,1.0,1.0,NaN

In [36]:
#Creating Cod_Data Column 
Cod_Data = []
for string in data['data']:
    Cod_Data.append(string.replace('-', ''))
data['Cod_Data']=Cod_Data

In [37]:
#Creating a column with a region code 
data['codregiao']=data['regiao'].apply(lambda y: 0 if y=='Brasil' else
                                                 1 if y=='Norte' else
                                                 2 if y=='Nordeste' else
                                                 3 if y=='Sudeste' else
                                                 4 if y=='Sul' else
                                                 5 if y=='Centro-Oeste' else 'NA')

In [38]:
data.head(5)

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana,Cod_Data,codregiao
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,0.0,0.0,NaN,20200225,0
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,1.0,0.0,NaN,20200226,0
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,1.0,0.0,NaN,20200227,0
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,0.0,1.0,NaN,20200228,0
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,1.0,1.0,NaN,20200229,0

In [42]:
#Extrating the regions and region code from DataFrame
RegiaoCSV=pd.DataFrame(data={'Desc_Regiao':pd.unique(data['regiao']), 'Cod_Regiao':pd.unique(data['codregiao'])})

#Creating a separately Data Frame with region and code_region to feed the data bank 
pd.DataFrame(RegiaoCSV.set_index('Cod_Regiao')).to_csv('Regiao', sep = ';')

In [44]:
#Extracting the states and states coede from DataFrame 
Estado_arr = data['estado'].fillna('BR')
EstadoCSV = pd.DataFrame(data={'Desc_Estado':pd.unique(Estado_arr), 'Cod_Estado':pd.unique(data['coduf'])})

#Creating a Data Frame with state and cod_state to feed the data bank 
pd.DataFrame(EstadoCSV.set_index('Cod_Estado')).to_csv('Estado', sep=';')

In [9]:
#Extrating the name of the cities and their respective region, region code and state code
cod_municipio_srt = data['codmun'].dropna().astype(int)
Municipio= pd.DataFrame(data={'Desc_Municipio':data['municipio'], 'Cod_Municipio':cod_municipio_srt, 'Cod_Estado':data['coduf'], 'Cod_Regiao':data['codregiao']})
Municipio_df=Municipio.groupby('Cod_Municipio').first().reset_index()

#Creating a Data Grame with city and cod_city to feed the data bank
pd.DataFrame(data={'Cod_Municipio':Municipio_df['Cod_Municipio'], 'Desc_Municipio':Municipio_df['Desc_Municipio'], 'Cod_Estado':Municipio_df['Cod_Estado'], 'Cod_Regiao':Municipio_df['Cod_Regiao']}).set_index('Cod_Municipio').to_csv('Municipio', sep=';')

In [21]:
#Extracting the health regions descriptions, the health regions code, the states code, the city code and the region code
Regiao_saude = pd.DataFrame(data={'Desc_RegiaoSaude':data['nomeRegiaoSaude'], 'Cod_RegiaoSaude':data['codRegiaoSaude'], 'Cod_Estado':data['coduf'], 'Cod_Municipio':data['codmun'], 'Cod_Regiao':data['codregiao']})
Regiao_saude = Regiao_saude.groupby('Cod_RegiaoSaude').first().reset_index()

#Creating a data frame with the columns extracted to feed the data bank 
pd.DataFrame(data={'Desc_RegiaoSaude':Regiao_saude['Desc_RegiaoSaude'], 'Cod_RegiaoSaude':Regiao_saude['Cod_RegiaoSaude'], 'Cod_Estado':Regiao_saude['Cod_Estado'], 'Cod_Municipio':Regiao_saude['Cod_Municipio'], 'Cod_Regiao':Regiao_saude['Cod_Regiao']}).set_index('Cod_RegiaoSaude').to_csv('RegiaoSaude', sep=';')

In [46]:
#Exporting a CSV with modifications to feed the data bank
pd.DataFrame(data=data).to_csv('Painel_CovidBR_2020_Parte1.csv')

In [51]:
data.groupby('coduf').count()

,regiao,estado,municipio,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana,Cod_Data,codregiao
coduf,,,,,,,,,,,,,,,,,,
11,6889,6889,6604,6731,6604,6604,6889,6889,6762,6889,6889,6889,6889,0,0,6604,6889,6889
12,2952,2952,2794,2794,2794,2794,2952,2952,2952,2952,2952,2952,2952,0,0,2794,2952,2952
13,8032,8032,7874,7874,7874,7874,8032,8032,8032,8032,8032,8032,8032,0,0,7874,8032,8032
14,2190,2190,1905,2032,1905,1905,2190,2190,2063,2190,2190,2190,2190,0,0,1905,2190,2190
15,18446,18446,18288,18288,18288,18288,18446,18446,18446,18446,18446,18446,18446,0,0,18288,18446,18446
16,2190,2190,2032,2032,2032,2032,2190,2190,2190,2190,2190,2190,2190,0,0,2032,2190,2190
17,17938,17938,17653,17780,17653,17653,17938,17938,17811,17938,17938,17938,17938,0,0,17653,17938,17938
21,27844,27844,27559,27686,27559,27559,27844,27844,27717,27844,27844,27844,27844,0,0,27559,27844,27844
22,28733,28733,28448,28575,28448,28448,28733,28733,28606,28733,28733,28733,28733,0,0,28448,28733,28733
23,23653,23653,23368,23495,23368,23368,23653,23653,23526,23653,23653,23653,23653,0,0,23368,23653,23653
24,21494,21494,21209,21336,21209,21209,21494,21494,21367,21494,21494,21494,21494,0,0,21209,21494,21494
25,28606,28606,28321,28448,28321,28321,28606,28606,28479,28606,28606,28606,28606,0,0,28321,28606,28606
26,23780,23780,23495,23622,23495,23495,23780,23780,23653,23780,23780,23780,23780,0,0,23495,23780,23780
27,13239,13239,12954,13081,12954,12954,13239,13239,13112,13239,13239,13239,13239,0,0,12954,13239,13239
28,9810,9810,9525,9652,9525,9525,9810,9810,9683,9810,9810,9810,9810,0,0,9525,9810,9810
29,53244,53244,52959,53086,52959,52959,53244,53244,53117,53244,53244,53244,53244,0,0,52959,53244,53244
31,108616,108616,108331,108458,108331,108331,108616,108616,108489,108616,108616,108616,108616,0,0,108331,108616,108616
32,10191,10191,9906,10033,9906,9906,10191,10191,10064,10191,10191,10191,10191,0,0,9906,10191,10191
33,11969,11969,11684,11811,11684,11684,11969,11969,11842,11969,11969,11969,11969,0,0,11684,11969,11969
35,82200,82200,81915,82042,81915,81915,82200,82200,82073,82200,82200,82200,82200,0,0,81915,82200,82200
41,50958,50958,50673,50800,50673,50673,50958,50958,50831,50958,50958,50958,50958,0,0,50673,50958,50958
42,37750,37750,37465,37592,37465,37465,37750,37750,37623,37750,37750,37750,37750,0,0,37465,37750,37750
43,63404,63404,63119,63246,63119,63119,63404,63404,63277,63404,63404,63404,63404,0,0,63119,63404,63404
50,10191,10191,10033,10033,10033,10033,10191,10191,10191,10191,10191,10191,10191,0,0,10033,10191,10191
51,18192,18192,17907,18034,17907,17907,18192,18192,18065,18192,18192,18192,18192,0,0,17907,18192,18192
52,31527,31527,31242,31369,31242,31242,31527,31527,31400,31527,31527,31527,31527,0,0,31242,31527,31527
53,285,285,127,127,127,127,285,285,285,285,285,285,285,0,0,127,285,285
76,158,0,0,0,0,0,158,158,158,158,158,158,158,158,158,0,158,158